@import './mixins.scss';

html {
    font-size: 10px;

    @media screen and (max-width: 1024px) {
        font-size: 25px;
    }
}

.featured{
    padding: 130px 0;
}

.banner {
    background-color: #eff0f2;
    padding: 63px 0 163px 0;
}

.logo {
    display: block;
    width: 6.25rem;
    height: 2.2rem;
    font-size: 1.5rem;
    border: 2px solid black;
}

.menu {
    @include flexAlign;
    width: 30px;
    height: 21px;
    outline: none;
    cursor: pointer;
    position: relative;

    &:focus > .menu__line {
        background-color: transparent;

        &:after{
            transform: rotate(45deg);
            top: 0;
        }

        &:before{
            transform: rotate(-45deg);
            bottom: 0;
        }

    }

    &__line{
        position: relative;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #606061;
        transition: .4s;

        &::after{
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #606061;
            transition: .4s;
        }

        &::before{
            content: '';
            position: absolute;
            bottom: 8px;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #606061;
            transition: .4s;
        }


    }

    .dropdown{
        
        position: absolute;
        width: 150px;
        height: 0px;
        background-color: gainsboro;
        box-shadow: 2px 2px 5px 0 gray;
        top: 25px;
        left: -152px;
        transition: .5s ease-out;
    }

    &:focus > .dropdown {
        height: 250px;
    }

}

.title {
    text-transform: uppercase;
    text-align: center;
        //модификатор
    &_big{
        margin: 0 0 18px 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
       font-size: 38px;
       
    }

    &_small{
        padding: 0;
        font-family: 'Merriweather', serif;
        font-weight: 400;
        color: #616161;
        font-size: 16px;        
    }

}

.cards {

margin-top: 124px;

    &__img{
        width: 100%;
        margin-bottom: 30px;
    }
}


.works {

    &__item {
    margin-bottom: 30px;
    width: 100%;
    position: relative;
   

        &:hover {
      

            .works__item-front {
                opacity: 0;
            }

            .works__item-back {
                opacity: 1;
            }
        }

        &-image{
            width: 100%;
            height: 420px;
            object-fit: cover;
        }

        &-front {
            @include flexAlign(flex-end, flex-start, column);
            width: 100%;
            height: 100%;
            background: rgba(black, .5);
            position: absolute;
            left: 0;
            top: 0;
            font-family: 'Merriweather', serif;
            color: #f7f7f7;
            padding: 0 100px 55px 65px;
            box-sizing: border-box;
            transition: .5s;
            

            &-title {
                text-transform: uppercase;
                font-weight: 900;
                font-size: 20px;
                margin: 0;
                margin-bottom: 27px;
            }
            &-text {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 55px;
                padding: 0;
            }
            &-more {
                @include flexAlign(flex-start);
                text-transform: uppercase;
                font-weight: 100;
                font-size: 19px;

                .arrow {
                    padding-bottom: 0 0 5px 10px;
                }
            }
        }

        &-back {
            @include flexAlign(space-between, flex-start, column);
            width: 100%;
            height: 100%;
            background-color: #70f6eb;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: .5s;
            box-sizing: border-box;
            padding: 60px 100px 60px 65px;
        
            .title { //работает т.к. находится в этом класе back
                font-weight: bold;
                text-align: left;
                margin-bottom: 40px;
            }

            .text{
                height: 150px;
                overflow: hidden;
                position: relative;
            
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 50px;
                    background: linear-gradient(to bottom, transperent, #70f6eb);
                }

            }

        }


    }
}

//стилизация div под input

.custom-input {
    width: 200px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 4px;
    margin: 10px;
    cursor: text;
    @include flexAlign;
    overflow: hidden; //скрывает все что за границы дива
    outline: none; //убирает обводку
    white-space: nowrap; //запрет на перенос строк
    user-select: none; //запрещает выделять текст
}


// .test {
    

//     #red:checked ~ .test__content  > .red {
        
//     background-color: red;
//         //если input red включен (checked) то через ~ мы ищем элемент на том же уровне, а через угловую скобку мы обращаемя к вложенному классу red
//     }

//     #green:checked ~ .test__content  > .green {
        
//         background-color: green;
//             //если input red включен (checked) то через ~ мы ищем элемент на том же уровне, а через угловую скобку мы обращаемя к вложенному классу red
//         }

//        #blue:checked ~ .test__content  > .blue {
        
//            background-color: blue;
//                 //если input red включен (checked) то через ~ мы ищем элемент на том же уровне, а через угловую скобку мы обращаемя к вложенному классу red
//            }

// // }

// .test {
//     input{
//         display: none;
//     }

//     &__content {
//         display: flex;
//         flex-direction: column;
//     }

//     #red:checked ~ .test__content  > .red {
        
//     background-color: red;
//         //если input red включен (checked) то через ~ мы ищем элемент на том же уровне, а через угловую скобку мы обращаемя к вложенному классу red
//     }

//     #green:checked ~ .test__content  > .green {
        
//         background-color: green;
//             //если input red включен (checked) то через ~ мы ищем элемент на том же уровне, а через угловую скобку мы обращаемя к вложенному классу red
//         }

//        #blue:checked ~ .test__content  > .blue {
        
//            background-color: blue;
//                 //если input red включен (checked) то через ~ мы ищем элемент на том же уровне, а через угловую скобку мы обращаемя к вложенному классу red
//            }

// }


// хитрый способ для адаптива
// .test {
//     width: 50%;
//     background: url('../images/book.jpg');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;

//     &::after {
//         content: '';
//         display: block;
//         padding-bottom: 100%;
//     }
// }